<?xml version="1.0"?>
<config>
    <modules>
        <SP_Blog>
            <version>0.1.0</version>
        </SP_Blog>
    </modules>
    <global>
        <blocks>
            <class>SP_Blog_Block</class>
        </blocks>
        <sp_helpers>
            <blog>
                <class>SP_Blog_Helper</class>
            </blog>
        </sp_helpers>
        <models>
            <sp_blog>
                <class>SP_Blog_Model</class>
                <resourceModel>sp_blog_resource</resourceModel>
            </sp_blog>
            <sp_blog_resource>
                <class>SP_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>sp_blog_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>sp_blog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>sp_blog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>sp_blog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>sp_blog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>sp_blog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>sp_blog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </sp_blog_resource>
        </models>
        <resources>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
            <sp_blog_setup>
                <setup>
                    <module>SP_Blog</module>
                    <class>SP_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp_blog_setup>
        </resources>
    </global>
</config> 